# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# Java class files
*.class

# Build folders
bin/
build/
target/
out/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Logs and temporary files
*.log
*.tmp
